body {
	background-color: rgb(250, 250, 250);
}

text {
	font-weight: 300;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	fill: white;
}

.node rect {
	// stroke: #999;
	fill: rgb(31, 31, 31);
	stroke-width: 0px;
}

.edgePath path {
    // stroke: #333;
	stroke-width: 1.5px;
}

.edgePaths {
	color: rgba(255, 255, 255, 0);
	fill: rgba(255, 255, 255, 0);
}